/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.main-container {
    width: 100%;
    padding: 0 3.47%;
    box-sizing: border-box;
}

.section-title {
    margin: 1%;
    font-size: 1.53rem;
    margin-left: 2.5%;
}

.activite>.card {
    height: 480px;
    width: 23%;
    background-color: white;
    padding: 0 0 0.52% 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card_hebergements {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 4%;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-weight: bold;
    margin-left: 3%;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

.img_header {
    display: flex;
    width: 5%;
    height: 1%;
    margin-right: 80%;
    padding-top: 2%;
    padding-bottom: 3%;
}

.header_txt {
    display: flex;
    flex-direction: row;
}

:hover.Lien_Header {
    color: #0065FC;
    border-top: #0065FC 2px solid;

}

.Lien_Header {
    color: black;
    text-decoration: none;
    padding-top: 10%;
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 20%;
}

header {
    display: flex;
    flex-direction: row;
    width: 99%;
}

.search {
    margin-top: 2.78%;
    margin-bottom: 1.74%;
    margin-left: 0.7%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.icon_search {
    font-size: 19px;
    padding: 14px;
    border-radius: 15px 0px 0px 15px;
    height: 20px;
    background-color: #f2f2f2;
    color: #000;
}

.search_bar {
    height: 48px;
    width: 200px;
    border-style: solid;
    border-color: #f2f2f2;
    margin-left: -5px;
}

.search_button {
    border-radius: 0px 15px 15px 0px;
    width: 110px;
    height: 47px;
    margin-left: -5px;
    background-color: #0065FC;
    border: none;
}

#search_icon {
    display: none;
}

#search_text {
    color: white;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filtre_text {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

#filtre_text {
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

.filtre_p {
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 1%;
}

.filtre {
    border-radius: 25px;
    color: #0065FC;
    background-color: white;
    color: var(--black, #000);
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    margin: 2%;
    display: inline-block;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2.5% 5%;
    white-space: nowrap;
}

.filtre-icon {
    margin-right: 10%;
}

.afficher {
    margin-left: 4%;
    margin-bottom: -1%;
}

.infologo {
    width: 24px;
    height: 24px;
    border: 1px;
    color: #0065FC;
    border-color: #D9D9D9;
    border-style: solid;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.5%;
    margin-bottom: 1.5%;
}

:hover.filtre {
    border: 2px solid var(--grey-tint-2, #D9D9D9);
    background: var(--blue-light, #DEEBFF);
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;

}

.titre_hebergement {
    margin: 2%;
    font-size: 1.53rem;
}

.card-rating {
    margin-left: 10px;
    margin-bottom: 10px;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--main-bg-color)
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}


.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.img_hebergements {
    height: 124px;
    width: 95%;
    border-radius: 20px 20px 0px 0px;
    margin: 7px;
}

.hebergement_Marseille {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
}

#activites {
    display: flex;
    flex-direction: column;
    margin: 30px 20px;
    height: auto;
    width: 100%;
}

.activite {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1%;
    margin-right: 3%;
}

.img_activite {
    width: 100%;
    height: 88%;
    border-radius: 20px 20px 0 0;
}

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-top: 5%;
    align-items: start;
}

ul {
    margin-right: 15%;
    line-height: 200%;
}

.neutral-star {
    color: #D9D9D9;
}

h1 {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

p {
    align-self: stretch;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.txt_hebergement {
    margin-left: 10px;
    white-space: nowrap;
    margin-bottom: -4%;
    margin-top: -7%;
}

#hebergements {
    width: 65%;
    background-color: var(--main-bg-color)
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .img_header {
        margin-right: 70%;
        width: 7%;
        height: 7%;
        margin-top: 1%;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergements {
        width: 100%;
    }

    .activite>.card {
        height: 270px;
    }

    .img_activite {
        height: 75%;
    }

    .card-title {
        margin-right: 23px;
        margin-left: 10px;
    }

    .hebergements {
        width: 100%;
    }

    footer {
        height: 163px;
    }

    ul {
        line-height: 150%;
        margin-right: 10%;
        margin-left: -5%;

    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    #search_icon {
        display: none;
    }
}

/* Small devices (phones, less than 768px) */
@media screen and (max-width: 767.98px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .Lien_Header {
        margin: 0;
        padding: 3%;
        border-bottom: #D9D9D9 2px solid;
    }

    .img_header {
        margin-left: 42%;
        width: 20%;
        height: 15%;
        margin-top: 5%;
        margin-bottom: 2%;
    }

    :hover.Lien_Header {
        color: #0065FC;
        border-bottom: #0065FC 2px solid;
        border-top: 0;
    }

    .Presentation {
        padding: 2%;
        margin-top: 3%;
        margin-left: 1%;
    }

    #search_text {
        display: none;
    }

    #search_icon {
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search_button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 17%;
        border-radius: 15px;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        margin-left: -5%;
    }

    .search {
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .search_bar {
        width: 80%;
    }

    .icon_search {
        width: 8%;
        height: 8%;
        display: flex;
        justify-content: center;
    }

    #filtre_text {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .filtre_p {
        margin: 3%;
        margin-top: 10%;
    }

    .filtre_text {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .filtre {
        padding: 15px 23px;
        display: flex;
        flex-direction: row;
        white-space: nowrap;
        display: flex;
        justify-content: start;
        margin: 7px;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .main-container {
        padding: 0;
    }

    .infologo {
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        height: 24px;
        width: 30px;
        padding: 2px;
        margin: 15px;
    }

    #hebergements {
        background-color: white;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    .populaires-cards .card {
        width: 100%;
        margin-top: 5%;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        padding-right: 5%;
    }

    .section-title {
        font-size: 22px;
        font-weight: 700px;
    }

    .populaires {
        margin-top: 0;
    }

    .populaires .card-title {
        margin-left: 0;
    }

    .hebergement_Marseille .card-title {
        margin-left: 0;
        margin-bottom: -2%;
    }

    .hebergement_Marseille {
        display: flex;
        flex-direction: column;
    }

    .card_hebergements {
        margin: 0;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
        filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.1));
    }

    .afficher {
        margin-top: 5px;
    }

    .activite {
        display: flex;
        flex-direction: column;
        padding-right: 5%;
    }

    .activite>.card {
        width: 95%;
        height: 200px;
        object-fit: cover;
        margin-bottom: 15px;
        filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.1));
    }

    .activite h3 {
        margin-top: 3%;
    }

    footer {
        display: flex;
        flex-direction: column;
        background-color: var(--main-bg-color);
        height: 13%;
    }

    ul {
        margin-bottom: 5%;
        line-height: 250%;
        margin-left: -15%;
    }
    .txt_hebergement {
        margin-top: -4%;
        margin-bottom: 5px
    }
    .card-subtitle {
        margin-bottom: 2px;
        margin-top: 10px;
    }
}